.search-bar-container{
    width: 25%;
    min-width: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.1);
}

.search-bar{
    width: 100%;
    padding: 15px;
}

.search-icon{
    margin: 5px 0 0 15px;
    width: 14px;
}

/* will have gray text for input field in light mode*/
.gray-text{
    color: hsl(0, 0%, 52%);
}

/* will have white text for input field in dark mode */
.white-text{
    color: hsl(0, 0%, 100%);
}
