.single-flag-card{
    width: 80vw;
    height: 50vh;
    margin-top: 50px;
    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-flag_image{
    width: 45%;
    height: 50vh;
}

.single-flag_info-section{
    width: 45%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 16px;
}

.single-flag_heading{
    margin: 50px 0 30px 0;

    font-size: 30px;
    font-weight: 800;
}

.single-flag_info{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 1vh;
}

.single-flag_category{
    font-weight: 600;
}

.single-flag_data{
    font-weight: 300;
}

.single-flag_neighbours{
    margin: 30px 0 15px 0;
}
