.filter-selector-container{
    width: 10%;
    min-width: 150px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: hsl(200, 15%, 8%);
}

.region-selector{
    width: 100%;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.1);
}

.drop-down-menu{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 60px;
    width: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.1);
}

.drop-down-button{
    transition: font-weight;
}

.drop-down-button:hover{
    font-weight: 600;
}
