.not-found-container{
    margin-top: 12vh;
    padding: 0px 50px 0 50px;
    width: 100vw;
    height: 88vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 98%);
}

.not-found-card{
    width: 30vw;
    height: 30vh;
    padding: 6em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3vh;

    border-radius: 6px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.1);

    font-size: 18px;
    font-weight: 600;
}

.not-found-text{
    font-size: 14px;
    font-weight: 300;
}
