.country-card-outer{
    margin: 10px;
    width: 300px;
    height: 100%;

    border-radius: 8px;
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.1);
    font-size: 14px;
}

.country-card_image{
    width: 300px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.country-card_info{
    padding: 20px;
    border-radius: 0 0 8px 8px;
}

.country-card_heading{
    margin: 0 0 15px 0;

    font-size: 18px;
}

.country-card_category{
    margin: 5px 0;
    font-weight: 600;
}

.country-card_data{
    font-weight: 300;
}
