@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body{
    min-height: 100vh;
}

/* overall react component styling */
#root{
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito Sans', sans-serif;
}

.app{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

/* light mode inheritable properties - background color & text color */
.light{
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}

/* light mode element background color */
.light-element{
    background-color: hsl(0, 0%, 100%);
}

/* dark mode inheritable properties - background color & text color*/
.dark{
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

/* dark mode element background color */
.dark-element{
    background-color: hsl(209, 23%, 22%);
}

.light-hover:hover{
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.2);
}

.dark-hover:hover{
    box-shadow: 0 0 3px 2px hsla(200, 15%, 8%, 0.4);
}
